
.bloc{
   
    display: flex;
    gap: 12px;
    padding-left: 15px;
    overflow-x: scroll;
    
}



.card {
    max-width: 175px;
    font-size: 12px;
    height: 100%;
    position: relative;
 
    
  
}
.gray {
    color: #918E9B;
}
.image1 {
    width: 176px;
    border-radius: 9px;
    object-fit: cover;
    max-height: 235px;
}
.bold {
    font-weight: bold;
}
.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}
.statut{
   
    width: 61px;
    height: 20px;
    position: absolute;
    top: 10px;
    margin-left: 5px;
    background-color: white;
    text-transform: capitalize;
    text-align: center;
    position: absolute;
    font-size: 10.24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;



}