section img {
    margin-right: 96px;
    margin-left: 77px;
}
section{
    padding: 20px 0 20px 0;
}

img {
    max-width: 400px;
    align-self: center;
}

p {
    margin-top: 0;
    max-width: 320px;
    
}

.textbloc h1 {
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
   
}
.textbloc{
    margin-left: 36px;
}

/* Online Experiences */



/* Group 77 */





